# Notebook for running tests in the `ciu_tests` directory.

This notebook runs tests written in "pure Python" for different datasets. The current test functions can also be used elsewhere as a shortcut for loading the data, training a model, creating a CIU object and getting a test instance.

Basic imports.

In [1]:
import pandas as pd
import numpy as np
import ciu_tests as ciu_tests

## Iris

In [2]:
from ciu_tests import iris_lda

np.random.seed(24) # We want to always get the same Random Forest model here.
CIU_iris, iris_lda_model, instance = iris_lda.get_iris_test()
CIUres_iris = CIU_iris.explain(instance)
display(CIUres_iris)
CIUres_iris = CIU_iris.explain(instance, output_inds=1)
display(CIUres_iris)
CIUres_iris = CIU_iris.explain(instance, output_inds=2)
display(CIUres_iris)

,CI,CU,Cinfl,outname,outval,feature,ymin,ymax,inputs,invals,neutralCU,target_concept,target_inputs
s_length,9.887112e-01,-4.425673e-31,-4.943556e-01,setosa,3.254150e-17,s_length,3.254150e-17,9.887112e-01,[0],[2.0],0.5,None,None
s_width,1.547326e-09,2.103080e-08,-7.736628e-10,setosa,3.254150e-17,s_width,1.332128e-24,1.547326e-09,[1],[3.2],0.5,None,None
p_length,5.536589e-10,5.877536e-08,-2.768294e-10,setosa,3.254150e-17,p_length,3.896831e-79,5.536589e-10,[2],[1.8],0.5,None,None
p_width,9.999970e-01,2.875276e-17,-4.999985e-01,setosa,3.254150e-17,p_width,3.788830e-18,9.999970e-01,[3],[2.4],0.5,None,None

,CI,CU,Cinfl,outname,outval,feature,ymin,ymax,inputs,invals,neutralCU,target_concept,target_inputs
s_length,0.987820,0.813969,0.310145,versicolor,0.816231,s_length,1.217566e-02,0.999995,[0],[2.0],0.5,None,None
s_width,0.881239,0.795451,0.260363,versicolor,0.816231,s_width,1.152488e-01,0.996487,[1],[3.2],0.5,None,None
p_length,0.999546,0.816601,0.316458,versicolor,0.816231,p_length,3.465495e-17,0.999546,[2],[1.8],0.5,None,None
p_width,0.999997,0.816231,0.316230,versicolor,0.816231,p_width,3.002736e-06,1.000000,[3],[2.4],0.5,None,None

,CI,CU,Cinfl,outname,outval,feature,ymin,ymax,inputs,invals,neutralCU,target_concept,target_inputs
s_length,0.183769,1.000000,0.091885,virginica,0.183769,s_length,1.152639e-11,0.183769,[0],[2.0],0.5,None,None
s_width,0.881485,0.204771,-0.260240,virginica,0.183769,s_width,3.266355e-03,0.884751,[1],[3.2],0.5,None,None
p_length,0.999546,0.183399,-0.316458,virginica,0.183769,p_length,4.537308e-04,1.000000,[2],[1.8],0.5,None,None
p_width,0.356344,0.515707,0.005597,virginica,0.183769,p_width,2.658730e-20,0.356344,[3],[2.4],0.5,None,None

## Boston housing

In [3]:
from ciu_tests import boston_gbm

np.random.seed(26) # We want to always get the same Random Forest model here.
CIU, boston_xgb_model, instance = boston_gbm.get_boston_gbm_test()
CIUres = CIU.explain(instance)
display(CIUres)

,CI,CU,Cinfl,outname,outval,feature,ymin,ymax,inputs,invals,neutralCU,target_concept,target_inputs
CRIM,0.029835,1.000000,0.014917,Price,18.028278,CRIM,16.685719,18.028278,[0],[0.05735],0.5,None,None
ZN,0.000000,0.000000,-0.000000,Price,18.028278,ZN,18.028278,18.028278,[1],[0.0],0.5,None,None
INDUS,0.049869,0.611050,0.005538,Price,18.028278,INDUS,16.657005,18.901133,[2],[4.49],0.5,None,None
CHAS,0.000000,0.000000,-0.000000,Price,18.028278,CHAS,18.028278,18.028278,[3],[0.0],0.5,None,None
NOX,0.025628,1.000000,0.012814,Price,18.028278,NOX,16.875021,18.028278,[4],[0.449],0.5,None,None
RM,0.088204,0.278436,-0.019543,Price,18.028278,RM,16.923109,20.892307,[5],[6.63],0.5,None,None
AGE,0.027410,1.000000,0.013705,Price,18.028278,AGE,16.794827,18.028278,[6],[56.1],0.5,None,None
DIS,0.039394,1.000000,0.019697,Price,18.028278,DIS,16.255550,18.028278,[7],[4.4377],0.5,None,None
RAD,0.006820,1.000000,0.003410,Price,18.028278,RAD,17.721357,18.028278,[8],[3.0],0.5,None,None
TAX,0.006239,1.000000,0.003120,Price,18.028278,TAX,17.747513,18.028278,[9],[247.0],0.5,None,None
PTRATIO,0.054662,0.595157,0.005202,Price,18.028278,PTRATIO,16.564306,19.024113,[10],[18.5],0.5,None,None
B,0.014390,1.000000,0.007195,Price,18.028278,B,17.380739,18.028278,[11],[392.3],0.5,None,None
LSTAT,0.102825,0.716788,0.022291,Price,18.028278,LSTAT,14.711599,19.338743,[12],[6.53],0.5,None,None

## Titanic

In [4]:
from ciu_tests import titanic_rf

np.random.seed(26) # We want to always get the same Random Forest model here.
CIU_titanic, titanic_model, titanic_instance = titanic_rf.get_titanic_rf()
CIUres_titanic = CIU_titanic.explain(titanic_instance)
display(CIUres_titanic)

,CI,CU,Cinfl,outname,outval,feature,ymin,ymax,inputs,invals,neutralCU,target_concept,target_inputs
Pclass,0.000000,0.000000,-0.000000,No,0.4,Pclass,0.400000,0.4000,[0],[1],0.5,None,None
Sex,0.309333,1.000000,0.154667,No,0.4,Sex,0.090667,0.4000,[1],[1],0.5,None,None
Age,0.630000,0.047619,-0.285000,No,0.4,Age,0.370000,1.0000,[2],[8],0.5,None,None
SibSp,0.160000,0.187500,-0.050000,No,0.4,SibSp,0.370000,0.5300,[3],[0],0.5,None,None
Parch,0.120000,1.000000,0.060000,No,0.4,Parch,0.280000,0.4000,[4],[0],0.5,None,None
Fare,0.116667,0.292857,-0.024167,No,0.4,Fare,0.365833,0.4825,[5],[72],0.5,None,None
Embarked,0.030000,1.000000,0.015000,No,0.4,Embarked,0.370000,0.4000,[6],[1],0.5,None,None

In [5]:
CIUres_voc_top_titanic = CIU_titanic.explain_voc(titanic_instance, nsamples=1000)
display(CIUres_voc_top_titanic)

,CI,CU,Cinfl,outname,outval,feature,ymin,ymax,inputs,invals,neutralCU,target_concept,target_inputs
Wealth,0.260000,0.576923,0.020000,No,0.4,Wealth,0.250000,0.51,"[0, 5]","[1, 72]",0.5,None,None
Family,0.300000,0.566667,0.020000,No,0.4,Family,0.230000,0.53,"[3, 4]","[0, 0]",0.5,None,None
Sex,0.309333,1.000000,0.154667,No,0.4,Sex,0.090667,0.40,[1],[1],0.5,None,None
Age,0.630000,0.047619,-0.285000,No,0.4,Age,0.370000,1.00,[2],[8],0.5,None,None
Embarked,0.030000,1.000000,0.015000,No,0.4,Embarked,0.370000,0.40,[6],[1],0.5,None,None

## Ames housing

In [6]:
from ciu_tests import ames_housing_gbm

np.random.seed(26) # We want to always get the same Random Forest model here.
CIU, ames_xgb_model, ames_instance = ames_housing_gbm.get_ames_gbm_test()
CIUres = CIU.explain(ames_instance)
display(CIUres)

,CI,CU,Cinfl,outname,outval,feature,ymin,ymax,inputs,invals,neutralCU,target_concept,target_inputs
Order,0.051470,1.000000,0.025735,Price,733.174316,Order,680.108276,733.174316,[0],[1561],0.5,None,None
PID,0.021009,0.211230,-0.006067,Price,733.174316,PID,728.598938,750.259583,[1],[2700],0.5,None,None
MSSubClass,0.011317,1.000000,0.005658,Price,733.174316,MSSubClass,721.506775,733.174316,[2],[11],0.5,None,None
MSZoning,0.015653,0.000000,-0.007827,Price,733.174316,MSZoning,733.174316,749.312622,[3],[6],0.5,None,None
LotFrontage,0.038355,0.428175,-0.002755,Price,733.174316,LotFrontage,716.242676,755.786438,[4],[20],0.5,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
MiscVal,0.000000,0.000000,-0.000000,Price,733.174316,MiscVal,733.174316,733.174316,[76],[0],0.5,None,None
MoSold,0.018343,0.326110,-0.003190,Price,733.174316,MoSold,727.007141,745.918457,[77],[6],0.5,None,None
YrSold,0.010276,0.976934,0.004901,Price,733.174316,YrSold,722.823730,733.418701,[78],[2],0.5,None,None
SaleType,0.000273,0.980273,0.000131,Price,733.174316,SaleType,732.898315,733.179871,[79],[9],0.5,None,None
SaleCondition,0.016189,1.000000,0.008095,Price,733.174316,SaleCondition,716.483337,733.174316,[80],[4],0.5,None,None

In [7]:
CIUres_voc_top = CIU.explain_voc(ames_instance, nsamples=1000)
display(CIUres_voc_top)

,CI,CU,Cinfl,outname,outval,feature,ymin,ymax,inputs,invals,neutralCU,target_concept,target_inputs
Garage,0.120656,0.798777,0.036049,Price,733.174316,Garage,633.809265,758.205750,"[59, 60, 61, 62, 63, 64, 65]","[1, 103, 0, 2, 224, 5, 5]",0.5,None,None
Basement,0.174889,0.968412,0.081920,Price,733.174316,Basement,558.559692,738.869995,"[31, 32, 33, 34, 35, 36, 37, 38, 39, 48, 49]","[0, 5, 1, 2, 941, 6, 0, 81, 847, 1, 1]",0.5,None,None
Lot,0.079071,0.524314,0.001923,Price,733.174316,Lot,690.431030,771.953308,"[3, 4, 7, 8, 9, 10, 11]","[6, 20, 1, 0, 1, 0, 4]",0.5,None,None
Access,0.074935,0.893491,0.029486,Price,733.174316,Access,664.145142,741.402954,"[13, 14]","[6, 2]",0.5,None,None
House_type,0.143347,0.897362,0.056961,Price,733.174316,House_type,600.552795,748.343262,"[1, 15, 16, 21]","[2700, 2, 4, 55]",0.5,None,None
House_aesthetics,0.038237,0.958274,0.017523,Price,733.174316,House_aesthetics,695.396729,734.819275,"[22, 23, 24, 25, 26]","[3, 1, 5, 5, 4]",0.5,None,None
House_condition,0.504237,0.839262,0.171069,Price,733.174316,House_condition,296.868561,816.736633,"[20, 18, 21, 28, 19, 29]","[111, 6, 55, 2, 4, 4]",0.5,None,None
Electrical,0.015586,1.000000,0.007793,Price,733.174316,Electrical,717.105469,733.174316,[43],[4],0.5,None,None
GrLivArea,0.117737,0.564275,0.007567,Price,733.174316,GrLivArea,664.679077,786.065430,[47],[711],0.5,None,None

## Heart disease

The target variable has been restricted to only two classes, which are "no disease" and "disease". The data originally classifies diseases into four diferent classes.

In [8]:
from ciu_tests import heart_disease_rf

np.random.seed(26) # We want to always get the same Random Forest model here.
inst_ind = 2 # Instance 0 has no disease, instance 2 (for instance) has higher probability of disease than no disease
CIU_hd, hd_model, hd_instance = heart_disease_rf.get_heart_disease_rf(inst_ind)
print(hd_instance)
print(hd_model.predict_proba(hd_instance))
CIUres_hd = CIU_hd.explain(hd_instance)
display(CIUres_hd)
CIUres_hd = CIU_hd.explain(hd_instance, output_inds=1)
display(CIUres_hd)

      age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
106  57.0  1.0  3.0     128.0  229.0  0.0      2.0    150.0    0.0      0.4

     slope   ca  thal
106    2.0  1.0   7.0
[[0.41 0.59]]

,CI,CU,Cinfl,outname,outval,feature,ymin,ymax,inputs,invals,neutralCU,target_concept,target_inputs
age,0.10,0.200000,-0.030,No,0.41,age,0.39,0.49,[0],[57.0],0.5,None,None
sex,0.03,0.000000,-0.015,No,0.41,sex,0.41,0.44,[1],[1.0],0.5,None,None
cp,0.16,1.000000,0.080,No,0.41,cp,0.25,0.41,[2],[3.0],0.5,None,None
trestbps,0.09,0.888889,0.035,No,0.41,trestbps,0.33,0.42,[3],[128.0],0.5,None,None
chol,0.11,0.181818,-0.035,No,0.41,chol,0.39,0.50,[4],[229.0],0.5,None,None
fbs,0.07,0.000000,-0.035,No,0.41,fbs,0.41,0.48,[5],[0.0],0.5,None,None
restecg,0.09,0.000000,-0.045,No,0.41,restecg,0.41,0.50,[6],[2.0],0.5,None,None
thalach,0.07,1.000000,0.035,No,0.41,thalach,0.34,0.41,[7],[150.0],0.5,None,None
exang,0.07,0.000000,-0.035,No,0.41,exang,0.41,0.48,[8],[0.0],0.5,None,None
oldpeak,0.25,0.920000,0.105,No,0.41,oldpeak,0.18,0.43,[9],[0.4],0.5,None,None
slope,0.28,0.035714,-0.130,No,0.41,slope,0.40,0.68,[10],[2.0],0.5,None,None
ca,0.22,0.136364,-0.080,No,0.41,ca,0.38,0.60,[11],[1.0],0.5,None,None
thal,0.18,0.000000,-0.090,No,0.41,thal,0.41,0.59,[12],[7.0],0.5,None,None

,CI,CU,Cinfl,outname,outval,feature,ymin,ymax,inputs,invals,neutralCU,target_concept,target_inputs
age,0.10,0.800000,0.030,Yes,0.59,age,0.51,0.61,[0],[57.0],0.5,None,None
sex,0.03,1.000000,0.015,Yes,0.59,sex,0.56,0.59,[1],[1.0],0.5,None,None
cp,0.16,0.000000,-0.080,Yes,0.59,cp,0.59,0.75,[2],[3.0],0.5,None,None
trestbps,0.09,0.111111,-0.035,Yes,0.59,trestbps,0.58,0.67,[3],[128.0],0.5,None,None
chol,0.12,0.833333,0.040,Yes,0.59,chol,0.49,0.61,[4],[229.0],0.5,None,None
fbs,0.07,1.000000,0.035,Yes,0.59,fbs,0.52,0.59,[5],[0.0],0.5,None,None
restecg,0.09,1.000000,0.045,Yes,0.59,restecg,0.50,0.59,[6],[2.0],0.5,None,None
thalach,0.07,0.000000,-0.035,Yes,0.59,thalach,0.59,0.66,[7],[150.0],0.5,None,None
exang,0.07,1.000000,0.035,Yes,0.59,exang,0.52,0.59,[8],[0.0],0.5,None,None
oldpeak,0.25,0.080000,-0.105,Yes,0.59,oldpeak,0.57,0.82,[9],[0.4],0.5,None,None
slope,0.28,0.964286,0.130,Yes,0.59,slope,0.32,0.60,[10],[2.0],0.5,None,None
ca,0.22,0.863636,0.080,Yes,0.59,ca,0.40,0.62,[11],[1.0],0.5,None,None
thal,0.18,1.000000,0.090,Yes,0.59,thal,0.41,0.59,[12],[7.0],0.5,None,None